/* General page styling */
body {
margin: 0;
font-family: "Segoe UI", Tahoma, sans-serif;
background: #027D45;
display: flex;
flex-direction: column;
align-items: center;
height: 100vh;
overflow: hidden;
}

h1 {
margin-top: 15px;
color: #;
text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

/* Stiliziranje alatne trake */
.toolbar {
background: #06A45C;
padding: 10px 20px;
border-radius: 12px;
box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
display: flex;
gap: 10px;
margin: 10px;
position: relative;
z-index: 2;
}

button {
background: #B53303;
color: #eeeeee;
border: none;
border-radius: 8px;
padding: 8px 12px;
font-size: 14px;
cursor: pointer;
transition: background 0.2s;
}

button img {
	width: 2rem;
	height: 2rem;
}

/* Podrucje pluto ploce */
#board {
position: relative;
width: 90%;
flex-grow: 1;
background: #72D6A9; /* tekstura pluta
*/
background-size: cover;
border-radius: 12px;
box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.3);
overflow: hidden;
a
}
/* Ljepljive biljeske i natpisi */
.note, .quote, .pinned-img {
position: absolute;
padding: 10px;
border-radius: 8px;
cursor: move;
user-select: none;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);
transition: transform 0.1s ease;
}

/* Paleta boja ljepljivih biljeski */
.note.color1 { background: #FE6F3A; }
.note.color2 { background: #FEA93A; }
.note.color3 { background: #2D72A3; }
.note.color4 { background: #E2336B; }
.note.color5 { background: #06A45C; }
.note.color6 { background: #6D55C0; }

/* Podrucje za biljeske koje se moze uredjivati */
.note[contenteditable="true"] {
outline: none;
min-width: 100px;
min-height: 60px;
font-size: 14px;
text-decoration: none;
}

/* Stil citata */
.quote {
font-family: "Georgia", serif;
color: #4b382a;
background: #FF8A5E;
font-style: italic;
text-align: center;
width: 200px;
}

/* Slike */
.pinned-img img {
width: 120px;
height: auto;
border-radius: 8px;
}
footer {
font-size: 13px;
color: white;
margin: 10px;
}

/* X Ikona za brisanje (bez kruga, minimalisticki stil)*/
.delete-btn {
position: absolute;
top: 2px;
right: 6px;
width: 40px;
height: 40px;
padding: 0;
text-align: center;
background: #1f1f1f;
border: none;
color: #b30000;
font-size: 24px;
font-weight: bold;
cursor: pointer;
opacity: 0;
z-index: 1000;
transition: opacity 0.2s ease, color 0.2s ease,
transform 0.1s ease;
}

/* Pokazi X prilikom hovera misa */
.note:hover .delete-btn,
.pinned-img:hover .delete-btn,
.quote:hover .delete-btn {
opacity: 1;
}

/* Suptilna hover animacija */
.pinned-img .delete-btn:hover {
color: #ff0000;
transform: scale(1.15);
}

.note .delete-btn:hover {
color: #ff0000;
transform: scale(1.15);
}

.quote .delete-btn:hover {
color: #ff0000;
transform: scale(1.15);
}

.note a {
background:transparent !important;
outline: none;
}

.quote a {
background:transparent !important;
outline: none;
}

.quote:focus {
outline: none;
}

.quote .delete-btn:focus {
outline: none;
}

.note .delete-btn:focus {
outline: none;
}

.pinned-img {
box-shadow: 0 0px 0px rgba(0,0,0,0.3);
}

