body {
	margin: 0;
	font-family: `Segue UI`, Tahoma, sans-serif;
	background: linear-gradient(135deg, pink, white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	color: #333;
	margin-bottom: 10px;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.toolbar {
	background: white;
	padding: 10px 15px;
	border-right: 12px;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 15px;
}

.toolbar label {
	font-size: 14px;
	color: #444;
	margin-right: 5px;
}

#brushSize {
	-webkit-appearance: none;  
	appearance: none;
	height: 6px; 
	background: #1f1f1f;
	opacity: 0.7; 
	-webkit-transition: .2s; 
	transition: opacity .2s;
}

#brushSize::-webkit-slider-thumb {
	width: 15px;
        height: 15px;
        background: pink;
        border: 1px solid black;
        border-radius: 4px;	
}

#brushSize::-moz-range-thumb {
	-webkit-appearance: none; 
  	appearance: none;
	width: 15px;
	height: 15px;
	background: pink;
	border: 1px solid black;
	border-radius: 4px;
}

button {
	background-color: pink;
	border: none;
	border-radius: 8px;
	padding: 6px;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.2s;
}

button img {
	width: 30px;
	height: 30px;	
}

button:hover {
	background: salmon;
}

canvas {
	background: white;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0,0,0,0.3);
	touch-action: none;
	max-width: 90vw;
	max-height: 70vh;
	cursor: url('marker.png'), auto;
}

footer {
	margin-top: 20px;
	font-size: 13px;
	color: #555;
}
