body {
	background: radial-gradient(#872D62 0%, #651142 80%);
	color: #1f1f1f;
	min-height: 73rem;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.heading,.wellcome {
	text-align: center;	
}

form {
	width: 36rem;
	margin: auto auto auto auto;
	background-color: #7D9F35;
	color: #1f1f1f;
	border-radius: 10px;
	padding: 2rem;
	box-shadow: 0 0 10px #440028;
}

.question {
	padding: 0 1rem 1rem 1rem;
	border-radius:10px;
	display: flex;
	flex-direction: column;
	transition: background-color 0.07s;
}

.question:hover {
	background-color: #A7C763;
}

input {
	width: 1rem;
	height: 1rem;
}

button {
	padding: 1rem;
	font-size: 20px;
	background-color: #7D9F35;
	font-weight: bold;
	color: #1f1f1f;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 0 5px #440028;
	transition: background-color 0.07s;
}

button:hover {
	background-color: #A7C763;
}

#result {
	font-size: 3rem;
	color: #7D9F35;
	margin: 1rem;
}
