body {
	background: radial-gradient( #D5EF9F 0%, #872D62 100%);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.heading,.wellcome {
	text-align: center;	
}

form {
	width: 36rem;
	margin: auto auto auto auto;
	background-color: #7D9F35;
	color: #1f1f1f;
	border-radius: 10px;
	padding: 2rem;
}

.question {
	padding: 1rem;
}

.question:hover {
	background-color: #A7C763;
}
